.skills{
  position: relative;
  background-color: #292929;
  padding-bottom: 60px;
  color: #b9b3b3;
  font-size: 15px;
}

.skills .heading{
  margin: auto;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

.skills .ant-row{
  margin: 20px 0;
}

@media (min-width: 768px) {
  .skills .field{
    padding-left: 40px;
  }
}

@media (min-width: 992px) {
  .skills .field{
    padding-left: 90px;
  }
}

@media (min-width: 1200px) {
  .skills .field{
    padding-left: 110px;
  }
}

