.contact{
  padding-bottom: 60px;
  background-color: #292929;
  color: #868383;
  overflow: hidden;
}

.contact h3{
  margin: 0;
  color: #fff;
}

.contact .heading{
  color: #fff;
}

.contact .holder{
  max-width: 375px;
  margin: auto;
}

.contact .col-1{
  margin-top: 5px;
  text-align: end;
}

.contact .ant-row{
  margin-bottom: 20px;
}